---
title: agsimmons
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>

  <link rel="stylesheet" href="/assets/css/reset.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="https://unpkg.com/prismjs@1.30.0/themes/prism-okaidia.css" referrerpolicy="no-referrer">
</head>
<body>
  <header class="site-header">
    <div class="site-header__inner content">
      <a class="site-title" href="/">agsimmons</a>
    </div>
  </header>
  <main>
    <div class="content">
    {{ content }}
    </div>
  </main>
</body>
</html>
